/* Els comentaris en CSS es posen amb CTRL+} */

/* h2 {
    background-color: red;
} */

/* Selector descendent */

h2 {
    background-color: purple;
}

h2 {
    background-color: red;
}

div h2 {
    background-color: green;
}

.title-2 {
    background-color: lightblue;
}